<head>
    <meta charset="utf-8">
    <title>WWW Things, Hackathon Alkmaar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="//cdn.mxpnl.com/site_media/css/reset.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!-- build:js({app,.tmp}) scripts/head.js -->
    <script src="../../../newswwwthingscom/content/themes/WWW-Things-Ghost-Theme/assets/js/head.js"></script>
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
